body{
    font-family: 'Montserrat', sans-serif;
    background-color: #636268;
    margin: 30pxx
    
}

p{
    color: #000000
}

div.container{
    margin: auto;
    width: 1800px;
}

div.right{
    margin: auto;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    
    
}

div.left{
    margin: auto;
    background-image: url(images/misc2.jpg);
    
   
}

hr{
margin-bottom: 30px;
}

header{
  
}

nav {
    text-decoration: none;
    color: #ffd11a;
    text-align: center;
    word-spacing: 200px;
    margin-bottom: -5px;
    margin-top: -5px
    
}

nav a{
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 10px;
    font-size: 25px;
    text-emphasis: bold;
    font-style: bold;
    font-weight: 800;
  
}

.current{
    color: #ffd11a;
}

p{
    color: #ffffff;
}

nav a:link, nav a:visited{
    text-emphasis: bold;
    
}

nav a:hover, a:active, a:focus{
    color: #ffd11a;
}

h1{
    font-size: 35px;
    letter-spacing: 10px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
}

h3{
    text-align: center;
    color: #ffffff; 
    font-size: 50px;
    margin-left: 530px;
}

h4{
    text-align: left;
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    border: 3px solid #ffffff;
}

section.photo{
    background-image: url(images/misc.jpg);
    height: 500px;
    width: 900px;
    background-repeat: none;
    align-content: center;
    border: 3px solid #ffffff;
    margin: auto;
    padding-bottom: 100px;

}


section.content{
    text-align: center;
    border: 3px solid #ffffff;
    margin-left: 750px;
    margin-right: 750px;
}

section.content:hover{
    transform: scale(1.5);
    transition-duration: 2s;
    
}
section.content a{
    color: #ffffff
   
}

section.banner{
    margin: 50px;
}

section.paragraph{
    text-align: center;
    word-spacing: 250px;
}

section.paragraph img{
    border: 3px solid #ffffff;
}

section.paragraph img:hover{
    transform: scale(2);
    transition-duration: 2s;
}

section.desc{
    margin-right: 500px;
}

section.desc a{
    text-decoration: none;
    color:#ffd11a;
}

section.desc a:hover, a:active, a:focus{
   
}

ul{
    color: white;
    text-align: center;
    list-style: none;
}

form{
    text-align: center;
}

footer{
    font-size: 10px;
    letter-spacing: 5px;
    text-align: center;
    color: #ffffff;
}
#column1 {
    color: #ffffff
}

#column2 {
    color: #ffffff
}

#column3 {
    color: #ffffff
}

.about {
    margin-left: 500px;
    font-size: 20px;
}

